<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap" rel="stylesheet">
    <title>Olsker cupcakes - Byg din egen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header class="top-bar">
    <div class="info-text">
        DU ER LOGGET IND SOM: <span th:text="${session.user.email}">bruger1234</span>
    </div>
    <div class="user-menu">
        <a href="kurv.html" class="btn-min-side">KURV</a>
    </div>
</header>

<section class="logo-container">
    <h1>BYG DIN EGEN CUPCAKE</h1>
    <div class="hotpink-line-thick"></div>
</section>

<main class="config-container">
    <div class="image-preview cupcake-grid">
        <img th:src="@{..public/images/valg1.jpg}" src="../public/images/valg1.jpg" alt="Cupcake 1">
        <img th:src="@{..public/images/valg2.jpg}" src="../public/images/valg2.jpg" alt="Cupcake 2">
        <img th:src="@{..public/images/valg3.jpg}" src="../public/images/valg3.jpg" alt="Cupcake 3">
        <img th:src="@{..public/images/valg4.jpg}" src="../public/images/valg4.jpg" alt="Cupcake 4">
        <img th:src="@{..public/images/valg7.jpg}" src="../public/images/valg7.jpg" alt="Cupcake 5">
        <img th:src="@{..public/images/valg8.jpg}" src="../public/images/valg8.jpg" alt="Cupcake 7">
    </div>

    <form class="config-form" action="/tilfoej-til-kurv" method="post">
        <div class="selection-box">
            <label for="top">TOP</label>
            <select name="top" id="top" required>
                <option value="" disabled selected>Vælg topping...</option>
                <option th:each="top : ${toppings}" th:value="${top.id}" th:text="${top.name} + ' - ' + ${top.price} + ' kr.'">
                    Chokolade - 5.00 kr.
                </option>
            </select>

            <label for="bund">BUND</label>
            <select name="bund" id="bund" required>
                <option value="" disabled selected>Vælg bund...</option>
                <option th:each="bund : ${bottoms}" th:value="${bund.id}" th:text="${bund.name} + ' - ' + ${bund.price} + ' kr.'">
                    Vanilje - 10.00 kr.
                </option>
            </select>
            <br><br>
            <div class="quantity-selector">
                <button type="button" class="qty-btn">-</button>
                <input type="number" name="quantity" value="1" min="1">
                <button type="button" class="qty-btn">+</button>
            </div>
            <br>

            <button type="submit" class="btn-tilfoej">TILFØJ TIL KURV</button>
        </div>

        <a href="/shop" class="btn-flere">TILFØJ FLERE</a>
    </form>
</main>

<footer class="bottom-decoration">
    <div class="hotpink-line-thick"></div>
</footer>

</body>
</html>