<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h1>Velkommen til quiz og apokalypse</h1>

<div class="intro-container">
    <div class="intro-box">
        <p>Du er lige startet på studie og der er tydeligvis en masse
        uskrevne regler, du ikke forstår.<br> Så hvad gør du?<br> <br>
        Det vil denne quiz hjælpe dig med</p>
    </div>
</div>

<div class="clicktostart-container">
    <a href="quiz.html" class="start-btn">Start quiz</a>
</div>

</body>
</html>