<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap" rel="stylesheet">
    <title>Olsker cupcakes - forside</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header class="top-bar">
    <div class="info-text">
    AFHENTNING HVER DAG MELLEM 13-16<br>
        <span class="sub-text">Afhent samme dag v/ bestilling inden kl. 10</span>
    </div>

    <div class="user-menu">
         <a href="login.html" class="btn-min-side">MIN SIDE</a>
    </div>
    </header>

<section class="logo-container">
    <h1>Olsker cupcakes</h1>
    <div class="hotpink-line-thick"></div>
</section>

<main class="banner-section">

<div class="banner-window">
    <div class="banner-slides">
        <img th:src="@{/images/cupcake1.jpg}" src="../public/images/cupcake1.jpg" alt="Cupcake 1">
        <img th:src="@{/images/cupcake2.jpg}" src="../public/images/cupcake2.jpg" alt="Cupcake 2">
        <img th:src="@{/images/cupcake3.jpg}" src="../public/images/cupcake3.jpg" alt="Cupcake 3">
        <img th:src="@{/images/cupcake4.jpg}" src="../public/images/cupcake4.jpg" alt="Cupcake 4">
        <img th:src="@{/images/cupcake5.jpg}" src="../public/images/cupcake5.jpg" alt="Cupcake 5">
        <img th:src="@{/images/cupcake6.jpg}" src="../public/images/cupcake6.jpg" alt="Cupcake 6">
        <img th:src="@{/images/cupcake7.jpg}" src="../public/images/cupcake7.jpg" alt="Cupcake 7">
       <img th:src="@{/images/cupcake8.jpg}" src="../public/images/cupcake8.jpg" alt="Cupcake 8">
        <img th:src="@{/images/cupcake1.jpg}" src="../public/images/cupcake1.jpg" alt="Cupcake 1 loop">
    </div>
    </div>
</main>
<footer class="bottom-decoration">
    <div class="hotpink-line-thick"></div>
</footer>

</body>
</html>